extends ./_base

block ogtag
  meta(property="og:url" content="http://www.ranagram.com/works/{{ work.uid }}")
  meta(property="og:title" content="{{ work.title|join:' ' }}")
  meta(property="og:image" content="http://www.ranagram.com/static/imgs/works/{{ work.uid }}/top.jpg")
  meta(property="og:description" content="{{ work.description_en|striptags }}")

block content
  section.work
    .visual#work-visual
    script(type="text/template" id="tmpl-work-visual").
      <% if (work.top_visual) { %>
        <img class="picture" src="/imgs/works/<%- work.uid %>/<%- work.top_visual %>" alt="" />
      <% } %>
      <% if (work.top_visuals) { %>
        <% work.top_visuals.forEach(function (v) { %>
          <img class="picture" src="/static/imgs/works/<%- work.uid %>/<%- v %>" alt=""/>
        <% }); %>
      <% } %>
      <% if (work.youtube_id) { %>
        <div class="video">
          <iframe width="840" height="473"
            src="//www.youtube.com/embed/<%- work.youtube_id %>?rel=0&amp;showinfo=0"
            frameborder="0" allowfullscreen></iframe>
          </div>
      <% } %>
      <% if (work.video_id) { %>
        <div class="video">
          <iframe class="vimeo"
            src="http://player.vimeo.com/video/<%- work.video_id %>?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=222222"
            width="840" height="472" frameborder="0" webkitAllowFullScreen mozallowfullscreen
            allowFullScreen></iframe>
          </div>
      <% } %>

    .info#work-info
    script(type="text/template" id="tmpl-work-info").
      <h1><% print(work.title.join("<br/>")); %></h1>
      <div class="texts">
        <% if (work.description_en) { %>
          <p class="en"><%= work.description_en %></p>
        <% } %>
        <% if (work.description_ja) { %>
          <p class="jp"><%= work.description_ja %></p>
        <% } %>

    .visual#work-visual2
    script(type="text/template" id="tmpl-work-visual2").
      <% work.main_visuals.forEach(function (obj) { %>
        <% if (obj.type === "picture") { %>
          <img class="picture" src="/static/imgs/works/<%- work.uid %>/<%- obj.path %>" alt=""/>
        <% } else { %>
          <iframe class="vimeo"
            src="http://player.vimeo.com/video/<%- obj.path %>?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=222222"
            width="840" height="472" frameborder="0" webkitAllowFullScreen mozallowfullscreen
            allowFullScreen></iframe>
        <% } %>
      <% }); %>

    .info#work-info2
    script(type="text/template" id="tmpl-work-info2").
      <% if (work.workshop) { %>
        <section class="workshop">
          <h1>Digital Craft Workshop</h1>
          <ul>
            <% work.workshop.forEach(function (v) { %>
              <li><%= v %></li>
            <% }); %>
          </ul>
        </section>
      <% } %>

      <% if (work.credits) { %>
        <section class="credits">
          <h1>CREDIT</h1>
          <ul>
            <% work.credits.forEach(function (v) { %>
              <li><%= v %></li>
            <% }); %>
          </ul>
          </section>
      <% } %>

      <% if (work.ranagram) { %>
        <section class="ranagram">
          <h1>STAFF LIST of RANAGRAM</h1>
          <ul>
            <% work.ranagram.forEach(function (v) { %>
              <li><%= v %></li>
            <% }); %>
          </ul>
        </section>
      <% } %>

      <% if (work.technicals) { %>
        <section class="technicals">
          <h1>TECHNICAL SPEC</h1>
          <ul>
            <% work.technicals.forEach(function (v) { %>
              <li><%= v %></li>
            <% }); %>
          </ul>
        </section>
      <% } %>

      <% if (work.website) { %>
        <section class="website">
          <h1>PROJECT WEBSITE</h1>
          <ul>
            <li><a href="<%- work.website.href %>" target="_blank"><%- work.website.name %></a></li>
          </ul>
        </section>
      <% } %>

      <% if (work.clients) { %>
        <section class="credits">
          <h1>CLIENT</h1>
          <ul>
            <% work.clients.forEach(function (v) { %>
              <li><%= v %></li>
            <% }); %>
          </ul>
        </section>
      <% } %>

      <% if (work.relateds) { %>
        <section class="relateds">
          <h1>RELATED PROJECTS</h1>
          <ul>
            <% work.relateds.forEach(function (v) { %>
              <li><%= v %></li>
            <% }); %>
          </ul>
        </section>
      <% } %>

      <% if (work.lovol_exhibitions) { %>
        <section class="exhibitions">
          <h1>LOVOL EXHIBITION</h1>
          <ul>
            <% work.lovol_exhibitions.forEach(function (v) { %>
              <li><%= v %></li>
            <% }); %>
          </ul>
        </section>
      <% } %>


      <% if (work.neon_light_installation) { %>
        <section class="credits">
          <h1>Neon Light Installation</h1>
          <ul>
            <% work.neon_light_installation.forEach(function (v) { %>
              <li><%= v %></li>
            <% }); %>
          </ul>
        </section>
      <% } %>

      <% if (work.spatial_design) { %>
        <section class="credits">
          <h1>Spatial Design</h1>
          <ul>
            <% work.spatial_design.forEach(function (v) { %>
              <li><%= v %></li>
            <% }); %>
          </ul>
        </section>
      <% } %>

      <% if (work.exhibitions) { %>
        <section class="exhibitions">
          <h1>EXHIBITION</h1>
          <ul>
            <% work.exhibitions.forEach(function (v) { %>
              <li><%= v %></li>
            <% }); %>
          </ul>
        </section>
      <% } %>

